@page "/TiposTecnicos/Create"
@rendermode InteractiveServer
@inject TiposTecnicosService tiposTecnicoService
@inject NavigationManager navigation

<PageTitle> Crear Tipos T&eacute;cnicos</PageTitle>


<EditForm Model="@TiposTecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title ">Crear Tipo T&eacute;cnico</h5>
            </div>

            <div class="card-body">
                @*Tipo Tecnico ID*@
                <div class="mb-3">
                    <label for="TipoTecnicoId" class="form-label">Tipo T&eacute;cnico Id</label>
                    <InputNumber class="form-control" @bind-Value="TiposTecnico.Id" readonly></InputNumber>
                </div>

                @*Descripccion*@
                <div class="mb-3">
                    <label for="TipoTecnico" class="form-label">Descripc&iacute;on del T&eacute;cnico</label>
                    <InputText class="form-control" @bind-Value="TiposTecnico.Descripcion"></InputText>
                    <ValidationMessage For="(()=> TiposTecnico.Descripcion)"></ValidationMessage>
                    @if (!string.IsNullOrEmpty(Mensaje))
                    {
                        <div class="alert alert-danger" role="alert">
                            @Mensaje
                        </div>
                    }
                </div>
            </div>

            <div class="card-footer text-center mt-2">
                <a href="/TiposTecnicos/Index" class="btn btn-outline-primary bi bi-arrow-left mt-3"> Volver</a>
                <button type="submit" class="btn btn-outline-success bi bi-floppy mt-3"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public TiposTecnicos TiposTecnico { get; set; } = new TiposTecnicos();
    public string Mensaje { get; set; } = string.Empty;

    public async Task Guardar()
    {

        bool DescripccionExiste = await tiposTecnicoService.DescripcionExiste(TiposTecnico.Descripcion);

        if (DescripccionExiste)
        {

            Mensaje = "La descripcion del técnico ya está en uso.";
        }
        else
        {

            await tiposTecnicoService.Guardar(TiposTecnico);
            TiposTecnico = new TiposTecnicos();
            navigation.NavigateTo("/TiposTecnicos/Index");
        }
    }

}
