@page "/TiposTecnicos/Delete/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDelete.css" />

<PageTitle> Eliminar Tipos T&eacute;cnicos</PageTitle>

<div class="container mt-5">
    <div class="card p-4 shadow-lg border-primary">
        <div class="card-header">
            <h5 class="card-title text-center mb-4 bg-primary text-white p-2 rounded">Eliminar Tipo T&eacute;cnico</h5>
        </div>

        <div class="card-body">
            <div class="list-details">
                <ul class="list-group">
                    @*Cobro Id*@
                    <li class="list-group-item">
                        <strong>Tipo T&eacute;cnico Id:</strong> @TiposTecnico.Id
                    </li>

                    @*Descripcion*@
                    <li class="list-group-item">
                        <strong>Descripc&iacute;on Tecnico:</strong> @TiposTecnico.Descripcion
                    </li>
                </ul>
            </div>

            <div>
                <h6>¿Estas seguro que deseas eliminar este Tipo de Tecnico?</h6>
            </div>
        </div>


        <div class="card-footer d-flex justify-content-between">
            <a href="/TiposTecnicos/Index" class="btn btn-outline-primary bi bi-arrow-left mt-3"> Volver</a>
            <button type="submit" @onclick="Eliminar" class="btn btn-outline-danger btn bi bi-trash"> Eliminar</button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public TiposTecnicos TiposTecnico { get; set; } = new TiposTecnicos();

    protected override async Task OnInitializedAsync()
    {
        TiposTecnico = await tiposTecnicosService.Buscar(TecnicoId);
    }

    public async Task Eliminar()
    {
        var eliminar = await tiposTecnicosService.Eliminar(TiposTecnico.Id);

        if (eliminar)
        {
            Console.WriteLine("El técnico fue eliminado correctamente.");
            navigation.NavigateTo("/TiposTecnicos/Index");
        }
        else
        {
            Console.WriteLine("No se pudo eliminar el técnico.");
            // Aquí podrías mostrar un mensaje de error en la interfaz si lo deseas.
        }
    }

}
