@page "/TiposTecnicos/Delete/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDelete.css" />

<PageTitle> Eliminar Tipos T&eacute;cnicos</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5><strong>Datos del Tipo de T&eacute;cnico</strong></h5>
        </div>

        <div class="card-body">
            <div class="text-center">
                <h5>¿Desea eliminar el Tipo de T&eacute;cnico</h5>
            </div>
            <table class="mt-4 table">
                <tr>
                    <td><strong>Tipo Técnico Id:</strong></td>
                    <td>@TiposTecnico.Id</td>
                </tr>
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td>@TiposTecnico.Fecha</td>
                </tr>
                <tr>
                    <td><strong>Descripción Técnico:</strong></td>
                    <td>@TiposTecnico.Descripcion</td>
                </tr>
            </table>
        </div>


        <div class="card-footer text-center">
            <a href="/TiposTecnicos/Index" class="btn btn-outline-primary bi bi-arrow-left"> Volver</a>
            <button type="submit" @onclick="Eliminar" class="btn btn-outline-danger btn bi bi-trash"> Eliminar</button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public TiposTecnicos TiposTecnico { get; set; } = new TiposTecnicos();

    protected override async Task OnInitializedAsync()
    {
        TiposTecnico = await tiposTecnicosService.Buscar(TecnicoId);
    }

    public async Task Eliminar()
    {
        var eliminar = await tiposTecnicosService.Eliminar(TiposTecnico.Id);

        if (eliminar)
        {
            Console.WriteLine("El técnico fue eliminado correctamente.");
            navigation.NavigateTo("/TiposTecnicos/Index");
        }
        else
        {
            Console.WriteLine("No se pudo eliminar el técnico.");
            // Aquí podrías mostrar un mensaje de error en la interfaz si lo deseas.
        }
    }

}
