@page "/TiposTecnicos/Details/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDetails.css" />

<PageTitle> Detalles Tipos T&eacute;cnicos</PageTitle>

<link rel="stylesheet" href="StyleDetails.css" />

<div class="container mt-5">
    <div class="card p-4 shadow-lg border-primary">
        <div class="card-header">
            <h5 class="card-title text-center mb-4 bg-primary text-white p-2 rounded">Detalles Tipos T&eacute;cnico</h5>
        </div>

        <div class="card-body">
            <div class="list-details">
                <ul class="list-group">
                    @*Cobro Id*@
                    <li class="list-group-item">
                        <strong> T&eacute;cnico Id:</strong> @TiposTecnico.Id
                    </li>

                    @*Descripcion*@
                    <li class="list-group-item">
                        <strong>Descripc&iacute;on Tecnico:</strong> @TiposTecnico.Descripcion
                    </li>
                </ul>
            </div>

            <div>
                <h6>¿Estas seguro que deseas eliminar este Tipo de Tecnico?</h6>
            </div>
        </div>


        <div class="card-footer d-flex justify-content-between">
            <a href="/TiposTecnicos/Index" class="btn btn-outline-primary bi bi-arrow-left mt-3"> Volver</a>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public TiposTecnicos TiposTecnico { get; set; } = new TiposTecnicos();

    protected override async Task OnInitializedAsync()
    {
        TiposTecnico = await tiposTecnicosService.Buscar(TecnicoId);
    }

}
