@page "/TiposTecnicos/Details/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDetails.css" />

<PageTitle> Detalles Tipos T&eacute;cnicos</PageTitle>

<link rel="stylesheet" href="StyleDetails.css" />

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5><strong>Datos del Tipo de T&eacute;cnico</strong></h5>
        </div>

        <div class="card-body">
            <table class="mt-4 table">
                <tr>
                    <td><strong>Tipo Técnico Id:</strong></td>
                    <td>@TiposTecnico.Id</td>
                </tr>
                <tr>
                    <td><strong>Descripción Técnico:</strong></td>
                    <td>@TiposTecnico.Descripcion</td>
                </tr>
            </table>
        </div>


        <div class="card-footer text-center">
            <a href="/TiposTecnicos/Index" class="btn btn-outline-primary bi bi-arrow-left"> Volver</a>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public TiposTecnicos TiposTecnico { get; set; } = new TiposTecnicos();

    protected override async Task OnInitializedAsync()
    {
        TiposTecnico = await tiposTecnicosService.Buscar(TecnicoId);
    }

}
