@page "/TiposTecnicos/Details/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDetails.css" />

<PageTitle> Detalles Tipos T&eacute;cnicos</PageTitle>

<link rel="stylesheet" href="StyleDetails.css" />

@*Body*@
<div class="Contenedor_Eliminar">
    <h3> Detalles del tipo T&eacute;cnico</h3>

    <div class="list-details">
        @*Detalles*@
        <ul class="name">
            <li>Tipo T&eacute;cnico Id: @TiposTecnico.Id</li>
            <li>Descripci&oacute;n del t&eacute;cnico: @TiposTecnico.Descripcion</li>
        </ul>
    </div>
    @*Botones*@
    <div class="btn-details">
        <button type="submit" @onclick="Volver" class="bi bi-arrow-left-circle"> Volver</button>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public TiposTecnicos TiposTecnico { get; set; } = new TiposTecnicos();

    protected override async Task OnInitializedAsync()
    {
        TiposTecnico = await tiposTecnicosService.Buscar(TecnicoId);
    }

    public void Volver()
    {
        navigation.NavigateTo("/TiposTecnicos/Index");
    }

}
