@page "/TiposTecnicos/Index"
@rendermode InteractiveServer
@inject TiposTecnicosService tiposTecnicosService

<PageTitle> Registro Tipos de T&eacute;cnicos</PageTitle>

<div class="container">
	<div class="card shadow-lg">

		<div class="card-header">
			<h5 class="card-title text-center">Registro de Tipos Tecnicos</h5>
		</div>
		<div class="card-body">
			<div class="row mb-3">
				<div class="col-md-6">
					<label for="filtrarPor"> Filtrar por:</label>
					<InputSelect id="filtrarPor" class="form-select" @bind-Value="FiltroSeleccionado">
						<option value="ID">ID</option>
						<option value="Descripcion">Descripcion</option>
					</InputSelect>
				</div>

				<div class="col-md-6 d-flex justify-content-center mt-4">
					<div class="input-group">
						<InputText id="Busqueda" class="form-control" @bind-Value="CriterioBusqueda"></InputText>
						<button @onclick="BuscarTecnicos" class="btn btn-primary bi bi-search "> Buscar</button>
					</div>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col text-end">
					<a href="/TiposTecnicos/Create" class="btn btn-primary bi bi-plus-square mt-3">
						Crear
					</a>
				</div>
			</div>

			<table class="table table-light table-hover">
				<thead class="table table-striped ">
					<tr class="text-center">
						<th>Tipos T&eacute;cnico Id</th>
						<th>Fecha</th>
						<th>Descripc&iacute;on</th>
						<th>Detalles</th>
						<th>Modificar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var tiposTecnico in TiposTecnico)
					{
						<tr class="text-center">
							<td>@tiposTecnico.Id</td>
							<td>@tiposTecnico.Fecha</td>
							<td>@tiposTecnico.Descripcion</td>
							<td>
								<a href="/TiposTecnicos/Details/@tiposTecnico.Id" class="btn btn-primary bi bi-eye"></a>
							</td>
							<td>
								<a href="/TiposTecnicos/Edit/@tiposTecnico.Id" class="btn btn-primary bi bi-pencil-square"></a>
							</td>
							<td>
								<a href="/TiposTecnicos/Delete/@tiposTecnico.Id" class="btn btn-primary bi bi-trash"></a>
							</td>
						</tr>
					}
				</tbody>

			</table>
		</div>
		<div class="card-footer">
			<p><strong>Total de Tipos de T&eacute;cnico: </strong>@TiposTecnico.Count</p>
		</div>
	</div>
</div>


@code {
    public List<TiposTecnicos> TiposTecnico { get; set; } = new List<TiposTecnicos>();
    private string FiltroSeleccionado { get; set; } = "ID";
    private string CriterioBusqueda { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        TiposTecnico = await tiposTecnicosService.Listar(a => true);
    }

    private async Task BuscarTecnicos()
    {
        switch (FiltroSeleccionado)
        {
            case "ID":
                if (int.TryParse(CriterioBusqueda, out int id))
                {
                    TiposTecnico = await tiposTecnicosService.Listar(a => a.Id == id);
                }
                break;

            case "Descripcion":
                TiposTecnico = await tiposTecnicosService.Listar(e => e.Descripcion.ToLower().Contains(CriterioBusqueda.ToLower())); ;
                break;

        }
    }

}