@page "/TiposTecnicos/Index"
@rendermode InteractiveServer
@inject TiposTecnicosService tiposTecnicosService

<PageTitle> Registro Tipos de T&eacute;cnicos</PageTitle>

<h3>Registro tipos de t&eacute;cnicos</h3>
@* Filtro y Búsqueda *@
<div class="filtro-busqueda">
    <label for="filtrarPor">Filtrar por:</label>
    <select id="filtrarPor" @bind="FiltroSeleccionado">
        <option value="ID">ID</option>
        <option value="Descripcion">Descripci&oacute;n</option>
    </select>

    <label for="busqueda">Búsqueda</label>
    <input id="busqueda" type="text" @bind="CriterioBusqueda" placeholder="Buscar..." />

    <button @onclick="BuscarTecnicos" class="btn btn-primary btn-primary bi bi-search"> Buscar</button>
</div>

@*Body*@
<div class="card-body">
    <table class="t">
        <thead class="th">
            <tr>
                <th>ID</th>
                <th>Descripci&oacute;n</th>
                <th>Detalles</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Tipostecnico in TiposTecnico)
            {
                <tr>
                    <td class="text-center"> @Tipostecnico.Id</td>
                    <td class="text-center"> @Tipostecnico.Descripcion</td>
                    <td class="text-center">
                        <a href="/TiposTecnicos/Details/@Tipostecnico.Id" class="bi bi-eye-fill"></a>
                    </td>
                    <td class="text-center">
                        <a href="/TiposTecnicos/Edit/@Tipostecnico.Id" class=" bi bi-pencil-square"></a>
                    </td>
                    <td class="text-center">
                        <a href="/TiposTecnicos/Delete/@Tipostecnico.Id" class=" bi bi-trash-fill"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*Boton*@
    <div class="row">
        <div class="col text-end">
            <a href="/TiposTecnicos/Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Crear
            </a>
        </div>
    </div>
</div>


@code {
    public List<TiposTecnicos> TiposTecnico = new List<TiposTecnicos>();
    private string FiltroSeleccionado = "ID";
    private string CriterioBusqueda = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        TiposTecnico = await tiposTecnicosService.Listar(a => true);
    }

    private async Task BuscarTecnicos()
    {
        switch (FiltroSeleccionado)
        {
            case "ID":
                if (int.TryParse(CriterioBusqueda, out int id))
                {
                    TiposTecnico = await tiposTecnicosService.Listar(a => a.Id == id);
                }
                break;

            case "Descripcion":
                TiposTecnico = await tiposTecnicosService.Listar(e => e.Descripcion.ToLower().Contains(CriterioBusqueda.ToLower())); ;
                break;

        }
    }

}