@page "/Clientes/Delete/{ClienteId:int}"
@rendermode InteractiveServer
@inject ClientesService clientesService
@inject NavigationManager navigation

<PageTitle> Eliminar Clientes</PageTitle>


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5><strong>Datos del cliente</strong></h5>
        </div>

        <div class="card-body">
            <div class="text-center">
                <h5>¿Desea eliminar el cliente</h5>
            </div>
            <table class="mt-4 table">
                <tr>
                    <td><strong>Cliente Id:</strong></td>
                    <td>@Clientes.ClienteId</td>
                </tr>
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td>@Clientes.Fecha</td>
                </tr>
                <tr>
                    <td><strong>Nombre del Cliente:</strong></td>
                    <td>@Clientes.Nombres</td>
                </tr>
                <tr>
                    <td><strong>WhatsApp del Cliente:</strong></td>
                    <td>@Clientes.WhatsApp</td>
                </tr>
            </table>

        </div>


        <div class="card-footer text-center">
            <a href="/Clientes/Index" class="btn btn-outline-primary bi bi-arrow-left"> Volver</a>
            <button type="submit" @onclick="Eliminar" class="btn btn-outline-danger btn bi bi-trash"> Eliminar</button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int ClienteId { get; set; }
    public Clientes Clientes { get; set; } = new Clientes();

    protected override async Task OnInitializedAsync()
    {
        Clientes = await clientesService.Buscar(ClienteId);
    }

    public async Task Eliminar()
    {
        var eliminar = await clientesService.Eliminar(Clientes.ClienteId);

        if (eliminar)
        {
            Console.WriteLine("El Cliente fue eliminado correctamente.");
            navigation.NavigateTo("/Clientes/Index");
        }
        else
        {
            Console.WriteLine("No se pudo eliminar el cliente.");
            // Aquí podrías mostrar un mensaje de error en la interfaz si lo deseas.
        }
    }

}
