@page "/Clientes/Details/{ClienteId:int}"
@rendermode InteractiveServer
@inject ClientesService clientesService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDetails.css" />

<PageTitle> Detalles Cliente</PageTitle>

@*Body*@
<div class="Contenedor_Eliminar">
    <h3> Detalles del Cliente</h3>

    <div class="list-details">
        <ul class="name">
            @*Detalles del Tecnico*@
            <li>Cliente Id: @Clientes.ClienteId</li>
            <li>Nombre del Cliente: @Clientes.Nombres</li>
            <li>WhatsApp del Cliente: @Clientes.WhatsApp</li>
        </ul>
    </div>
    @*Botones*@
    <div class="btn-details">
        <a href="/Clientes/Index" class="btn btn-primary">
            <i class="bi bi-arrow-return-left"></i> Volver
        </a>
    </div>
</div>

@code {

    [Parameter]
    public int ClienteId { get; set; }
    public Clientes Clientes { get; set; } = new Clientes();

    protected override async Task OnInitializedAsync()
    {
        Clientes = await clientesService.Buscar(ClienteId);
    }

}
