@page "/Clientes/Details/{ClienteId:int}"
@rendermode InteractiveServer
@inject ClientesService clientesService
@inject NavigationManager navigation

<PageTitle> Detalles Cliente</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5><strong>Datos del cliente</strong></h5>
        </div>

        <div class="card-body">
            <table class="mt-4 table">
                <tr>
                    <td><strong>Cliente Id:</strong></td>
                    <td>@Clientes.ClienteId</td>
                </tr>
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td>@Clientes.Fecha</td>
                </tr>
                <tr>
                    <td><strong>Nombre del Cliente:</strong></td>
                    <td>@Clientes.Nombres</td>
                </tr>
                <tr>
                    <td><strong>WhatsApp del Cliente:</strong></td>
                    <td>@Clientes.WhatsApp</td>
                </tr>
            </table>
        </div>


        <div class="card-footer text-center">
            <a href="/Clientes/Index" class="btn btn-outline-primary bi bi-arrow-left"> Volver</a>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int ClienteId { get; set; }
    public Clientes Clientes { get; set; } = new Clientes();

    protected override async Task OnInitializedAsync()
    {
        Clientes = await clientesService.Buscar(ClienteId);
    }

}
