@page "/Clientes/Edit/{ClienteId:int}"
@rendermode InteractiveServer
@inject ClientesService clientesService
@inject NavigationManager navigation

<PageTitle> Editar Cliente</PageTitle>

<EditForm Model="@Clientes" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Editar Cliente</h5>
            </div>

            <div class="card-body">
                @* Cliente ID*@
                <div class="mb-3">
                    <label for="ClienteId" class="form-label">Cliente Id</label>
                    <InputNumber class="form-control" @bind-Value="Clientes.ClienteId" readonly></InputNumber>
                </div>

                @*Nombre*@
                <div class="mb-3">
                    <label for="Cliente" class="form-label">Nombre</label>
                    <InputText class="form-control" @bind-Value="Clientes.Nombres"></InputText>
                    <ValidationMessage For="(()=> Clientes.Nombres)"></ValidationMessage>
                    @if (!string.IsNullOrEmpty(Mensaje))
                    {
                        <div class="alert alert-danger" role="alert">
                            @Mensaje
                        </div>
                    }
                </div>

                @*Tiempo*@
                <div class="mb-3">
                    <label for="Whatsapp" class="form-label">WhatsApp</label>
                    <InputText class="form-control" @bind-Value="Clientes.WhatsApp"></InputText>
                    <ValidationMessage For="(()=> Clientes.WhatsApp)"></ValidationMessage>
                    @if (!string.IsNullOrEmpty(MensajeN))
                    {
                        <div class="alert alert-danger" role="alert">
                            @MensajeN
                        </div>
                    }
                </div>
            </div>

            <div class="card-footer text-center mt-2">
                <a href="/Clientes/Index" class="btn btn-outline-primary bi bi-arrow-left mt-3"> Volver</a>
                <button type="submit" class="btn btn-outline-success bi bi-floppy mt-3"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>
    

@code {
    [Parameter]
    public int ClienteId { get; set; }
    public string Mensaje { get; set; } = string.Empty;
    public Clientes Clientes { get; set; } = new Clientes();
    public String MensajeN { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Clientes = await clientesService.Buscar(ClienteId);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar Cliente: {ex.Message}");
        }
    }

    public async Task Guardar()
    {
        var clienteExistente = await clientesService.Buscar(ClienteId);

        if (clienteExistente != null && clienteExistente.Nombres != Clientes.Nombres)
        {
            bool nombreExiste = await clientesService.NombreExiste(Clientes.Nombres);
            if (nombreExiste)
            {
                Mensaje = "El nombre del cliente ya está en uso.";
                return;
            }
        }

        
        bool numeroExiste = await clientesService.NumeroExiste(Clientes.WhatsApp);
        if (numeroExiste && clienteExistente.WhatsApp != Clientes.WhatsApp) 
        {
            MensajeN = "El número de WhatsApp ya está en uso por otro cliente.";
            return;
        }
        await clientesService.Guardar(Clientes);
        Clientes = new Clientes();
        navigation.NavigateTo("/Clientes/Index");
    }
}
