@page "/Clientes/Index"
@rendermode InteractiveServer
@inject ClientesService clienteService

<PageTitle> Registro Clientes</PageTitle>

<div class="container">
	<div class="card shadow-lg">

		<div class="card-header">
			<h5 class="card-title text-center">Registro de Clientes</h5>
		</div>
		<div class="card-body">
			<div class="row mb-3">
				<div class="col-md-6">
					<label for="filtrarPor"> Filtrar por:</label>
					<InputSelect id="filtrarPor" class="form-select" @bind-Value="FiltroSeleccionado">
						<option value="ID">ID</option>
						<option value="Nombre">Nombre</option>
					</InputSelect>
				</div>

				<div class="col-md-6 d-flex justify-content-center mt-4">
					<div class="input-group">
						<InputText id="Busqueda" class="form-control" @bind-Value="CriterioBusqueda"></InputText>
						<button @onclick="BuscarTecnicos" class="btn btn-primary bi bi-search "> Buscar</button>
					</div>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col text-end">
					<a href="/Clientes/Create" class="btn btn-primary bi bi-plus-square mt-3">
						Crear
					</a>
				</div>
			</div>

			<table class="table table-light table-hover">
				<thead class="table table-striped ">
					<tr class="text-center">
						<th>Cliente Id</th>
						<th>Nombres</th>
						<th>WhatsApp</th>
						<th>Detalles</th>
						<th>Modificar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var clientes in Clientes)
					{
						<tr class="text-center">
							<td>@clientes.ClienteId</td>
							<td>@clientes.Nombres</td>
							<td>@clientes.WhatsApp</td>
							<td>
								<a href="/Clientes/Details/@clientes.ClienteId" class="btn btn-primary bi bi-eye"></a>
							</td>
							<td>
								<a href="/Clientes/Edit/@clientes.ClienteId" class="btn btn-primary bi bi-pencil-square"></a>
							</td>
							<td>
								<a href="/Clientes/Delete/@clientes.ClienteId" class="btn btn-primary bi bi-trash"></a>
							</td>
						</tr>
					}
				</tbody>

			</table>
		</div>
		<div class="card-footer">
			<p><strong>Total de Clientes: </strong>@Clientes.Count</p>
		</div>
	</div>
</div>


@code {
    public List<Clientes> Clientes { get; set; } = new List<Clientes>();
    private string FiltroSeleccionado { get; set; } = "ID";
    private string CriterioBusqueda { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Clientes = await clienteService.Listar(a => true);
    }

    private async Task BuscarTecnicos()
    {
        switch (FiltroSeleccionado)
        {
            case "ID":
                if (int.TryParse(CriterioBusqueda, out int id))
                {
                    Clientes = await clienteService.Listar(a => a.ClienteId == id);
                }
                break;

            case "Nombre":
                Clientes = await clienteService.Listar(e => e.Nombres.ToLower().Contains(CriterioBusqueda.ToLower())); ;
                break;

        }
    }

}