@page "/Tecnicos/Delete/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDelete.css" />

<PageTitle> Eliminar T&eacute;cnicos</PageTitle>


@*Body*@
<div class="Contenedor_Eliminar">
    <div class="list-details">
        @*Detalles del Tecnico*@
        <ul>
            <li>T&eacute;cnico Id: @Tecnico.TecnicoId</li>
            <li>Nombre del t&eacute;cnico: @Tecnico.NombresTecnico</li>
            <li>Sueldo por Hora: @Tecnico.SueldoHora</li>
            <li>Descripci&oacute;n del T&eacute;cnico: @Tecnico.Descripcion</li>
        </ul>
    </div>
    @*Botones*@
    <div class="botones">
        <button type="submit" @onclick="Volver" class="bi bi-arrow-90deg-left"> Volver</button>
        <button type="submit" @onclick="Eliminar" class="bi bi-person-x-fill"> Eliminar</button>
    </div>

    <div>
        <label>Estas Seguro de que desea eliminar a este t&eacute;cnico?</label>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    Tecnicos Tecnico = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicoService.Buscar(TecnicoId);
    }

    public async Task Eliminar()
    {
        var eliminar = await tecnicoService.Eliminar(Tecnico.TecnicoId);

        if (eliminar)
        {
            Console.WriteLine("El técnico fue eliminado correctamente.");
            navigation.NavigateTo("/Tecnicos/Index");
        }
        else
        {
            Console.WriteLine("No se pudo eliminar el técnico.");
            // Aquí podrías mostrar un mensaje de error en la interfaz si lo deseas.
        }
    }

    public void Volver()
    {
        navigation.NavigateTo("/Tecnicos/Index");
    }
}
