@page "/Tecnicos/Details/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDetails.css" />

<PageTitle> Detalles T&eacute;cnicos</PageTitle>


@*Body*@
<div class="Contenedor_Eliminar">
    <h3> Detalles del T&eacute;cnico</h3>

    <div class="list-details">
        <ul class="name">
            @*Detalles del Tecnico*@
            <li>T&eacute;cnico Id: @Tecnico.TecnicoId</li>
            <li>Nombre del T&eacute;cnico: @Tecnico.NombresTecnico</li>
            <li>Sueldo por hora: @Tecnico.SueldoHora</li>
            <li>Descripci&oacute;n del T&eacute;cnico: @Tecnico.TipoTecnico.Descripcion</li>
        </ul>
    </div>
    @*Botones*@
    <div class="btn-details">
        <button type="submit" @onclick="Volver" class="bi bi-arrow-left-circle"> Volver</button>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    Tecnicos Tecnico { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicoService.Buscar(TecnicoId);
    }

    public void Volver()
    {
        navigation.NavigateTo("/Tecnicos/Index");
    }

}
