@page "/Tecnicos/Details/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation

<link rel="stylesheet" href="StyleDetails.css" />

@*Body*@
<div class="Contenedor_detalles">
    <h3> Detalles del Tecnico</h3>

    <div class="List-des">
        <ul class="name">
            <li>TecnicoId: @tecnicos.tecnicoId</li>
            <li>Nombre del tecnico: @tecnicos.nombreTecnico</li>
            <li>Sueldo por hora: @tecnicos.sueldoHora</li>
        </ul>
    </div>

    <div class="btn-details">
        <button type="submit" @onclick="Volver" class="bi bi-arrow-90deg-left"></button>
    </div>
</div>


@code {
    [Parameter]
    public int tecnicoId { get; set; }
    Tecnicos tecnicos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        tecnicos = await tecnicoService.Buscar(tecnicoId);
    }

    public void Volver()
    {
        navigation.NavigateTo("/Tecnicos/Index");
    }

}
