@page "/Tecnicos/Details/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDetails.css" />

<PageTitle> Detalles T&eacute;cnicos</PageTitle>


@*Body*@
<div class="Contenedor_detalles">
    <h3> Detalles del Técnico</h3>

    <div class="List-des">
        <ul class="name">
            <li>Técnico Id: @Tecnico.TecnicoId</li>
            <li>Nombre del técnico: @Tecnico.NombresTecnico</li>
            <li>Sueldo por hora: @Tecnico.SueldoHora</li>
        </ul>
    </div>

    <div class="btn-details">
        <button type="submit" @onclick="Volver" class="bi bi-arrow-left-circle"> Volver</button>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    Tecnicos Tecnico { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicoService.Buscar(TecnicoId);
    }

    public void Volver()
    {
        navigation.NavigateTo("/Tecnicos/Index");
    }

}
