@page "/Tecnicos/Index"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService

<PageTitle> Registro de T&eacute;cnicos</PageTitle>

<h3>Registro de t&eacute;cnicos</h3>
@* Filtro y Búsqueda *@
<div class="filtro-busqueda">
    <label for="filtrarPor">Filtrar por:</label>
    <select id="filtrarPor" @bind="filtroSeleccionado">
        <option value="ID">ID</option>
        <option value="Nombre">Nombre</option>
        <option value="Sueldo">Sueldo</option>
    </select>

    <label for="busqueda">Búsqueda</label>
    <input id="busqueda" type="text" @bind="criterioBusqueda" placeholder="Buscar..." />

    <button @onclick="BuscarTecnicos" class="btn btn-primary">Buscar</button>
</div>

@*Body*@
<div class="card-body">
    <table class="t">
        <thead class="th">
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Sueldo Hora</th>
                <th>Detalles</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tecnico in tecnicos)
            {
                <tr>
                    <td class="text-center"> @tecnico.TecnicoId</td>
                    <td class="text-center"> @tecnico.NombresTecnico</td>
                    <td class="text-center"> @tecnico.SueldoHora $</td>
                    <td class="text-center">
                        <a href="/Tecnicos/Details/@tecnico.TecnicoId" class="bi bi-eye-fill"></a>
                    </td>
                    <td class="text-center">
                        <a href="/Tecnicos/Edit/@tecnico.TecnicoId" class=" bi bi-pencil-square"></a>
                    </td>
                    <td class="text-center">
                        <a href="/Tecnicos/Delete/@tecnico.TecnicoId" class=" bi bi-trash-fill"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col text-end">
            <a href="/Tecnicos/Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Crear
            </a>
        </div>
    </div>
</div>


@code {
    public List<Tecnicos> tecnicos = new List<Tecnicos>();
    private string filtroSeleccionado = "ID";
    private string criterioBusqueda = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        tecnicos = await tecnicoService.Listar(a => true);
    }

    private async Task BuscarTecnicos()
    {
        switch (filtroSeleccionado)
        {
            case "ID":
                if (int.TryParse(criterioBusqueda, out int id))
                {
                    tecnicos = await tecnicoService.Listar(a => a.TecnicoId == id);
                }
                break;

            case "Nombre":
                tecnicos = await tecnicoService.Listar(e => e.NombresTecnico.ToLower().Contains(criterioBusqueda.ToLower())); ;
                break;

            case "Sueldo":
                if (float.TryParse(criterioBusqueda, out float sueldo))
                {
                    tecnicos = await tecnicoService.Listar(a => a.SueldoHora == sueldo);
                }
                break;
        }
    }

}
