@page "/Tecnicos/Modify/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation

<h3>Modificar</h3>

@*Body*@

<div class="Contenedor_Modificar">
    <div class="Inputs-text">
        <label>Tecnico Id:</label>
        <input type="text" @bind-value="@tecnicos.tecnicoId"></input>
    </div>

    <div class="Inputs-text">
        <label>Nombre:</label>
        <input type="text" @bind-value="@tecnicos.nombreTecnico"></input>
    </div>

    <div class="Inputs-text">
        <label>Sueldo Hora:</label>
        <input type="text" @bind-value="@tecnicos.sueldoHora"></input>
    </div>

    <div class="botones">
        <button type="submit" @onclick="Volver">Volver</button>
        <button type="submit" @onclick="Guardar">Guardar</button>
    </div>
</div>

@code {
    [Parameter]
    public int tecnicoId { get; set; }
    Tecnicos tecnicos = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        tecnicos = await tecnicoService.Buscar(tecnicoId);
    }

    public async Task Guardar()
    {
        await tecnicoService.Guardar(tecnicos);
        navigation.NavigateTo("/Tecnicos/Index");
    }

    public void Volver()
    {
        navigation.NavigateTo("/Tecnicos/Index");
    }

}
