@page "/Prioridades/Delete/{PrioridadesId:int}"
@rendermode InteractiveServer
@inject PrioridadesService prioridadService
@inject NavigationManager navigation

<PageTitle>Eliminar Prioridad</PageTitle>

<div class="container mt-5">
    <div class="card p-4 shadow-lg border-primary">
        <div class="card-header">
            <h5 class="card-title text-center mb-4 bg-primary text-white p-2 rounded">Eliminar Prioridad</h5>
        </div>

        <div class="card-body">
            <div class="list-details">
                <ul class="list-group">
                    @*Cobro Id*@
                    <li class="list-group-item">
                        <strong> Prioridad Id:</strong> @Prioridades.PrioridadId
                    </li>

                    @*Nombre del Tecnico*@
                    <li class="list-group-item">
                        <strong>Descripc&iacute;on:</strong> @Prioridades.Descripcion
                    </li>

                    @*Tiempo*@
                    <li class="list-group-item">
                        <strong>Tiempo:</strong> @Prioridades.Tiempo
                    </li>
                </ul>
            </div>

            <div>
                <h6>¿Estas seguro que deseas eliminar esta Prioridad?</h6>
            </div>
        </div>


        <div class="card-footer d-flex justify-content-between">
            <a href="/Prioridades/Index" class="btn btn-outline-primary bi bi-arrow-left mt-3"> Volver</a>
            <button type="submit" @onclick="Eliminar" class="btn btn-outline-danger btn bi bi-trash"> Eliminar</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int PrioridadesId { get; set; }
    public Prioridades Prioridades { get; set; } = new Prioridades();

    protected override async Task OnInitializedAsync()
    {
        Prioridades = await prioridadService.Buscar(PrioridadesId);
    }

    public async Task Eliminar()
    {
        var eliminar = await prioridadService.Eliminar(Prioridades.PrioridadId);

        if (eliminar)
        {
            Console.WriteLine("Se ha eliminado correctamente la Prioridad");
            navigation.NavigateTo("/Prioridades/Index");
        }
        else
        {
            Console.WriteLine("No se pudo eliminar la prioridad");
        }
    }

}
