@page "/Prioridades/Details/{PrioridadesId:int}"
@rendermode InteractiveServer
@inject PrioridadesService prioridadesService
@inject NavigationManager navigation

<PageTitle>Detalles Prioridad</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title">Detalles Prioridad</h5>
        </div>

        <div class="card-body">
            <table class="mt-4 table">
                <tr>
                    <td><strong>Prioridad Id:</strong></td>
                    <td>@Prioridades.PrioridadId</td>
                </tr>
                <tr>
                    <td><strong>Descripción:</strong></td>
                    <td>@Prioridades.Descripcion</td>
                </tr>
                <tr>
                    <td><strong>Tiempo:</strong></td>
                    <td>@Prioridades.Tiempo</td>
                </tr>
            </table>
        </div>


        <div class="card-footer text-center">
            <a href="/Prioridades/Index" class="btn btn-outline-primary bi bi-arrow-left"> Volver</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int PrioridadesId { get; set; }
    public Prioridades Prioridades { get; set; } = new Prioridades();

    protected override async Task OnInitializedAsync()
    {
        Prioridades = await prioridadesService.Buscar(PrioridadesId);
    }

}
