
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}


.filtro-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    .filtro-busqueda label {
        margin-right: 10px;
        font-weight: bold;
        color: #555;
    }

    .filtro-busqueda select,
    .filtro-busqueda input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 16px;
        width: 200px;
    }

    .filtro-busqueda button {
        background-color: #ff0000;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
    }

        .filtro-busqueda button:hover {
            background-color: #cc0000;
        }

table.t {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ff0000;
    padding: 10px;
    text-align: center;
    color: #333;
    font-size: 16px;
}

th {
    background-color: #ff0000;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


table.t {
    border: 2px solid #ff0000;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}


.bi-eye-fill, .bi-pencil-square, .bi-trash-fill {
    font-size: 20px;
    color: #ff0000;
    text-decoration: none;
    transition: color 0.3s ease;
}

    .bi-eye-fill:hover, .bi-pencil-square:hover, .bi-trash-fill:hover {
        color: #cc0000;
    }


.btn-primary {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
}

    .btn-primary:hover {
        background-color: #cc0000;
    }


.card-body {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);
}
